* {
    margin: 0;
}

.body {
    background-color: #212529;
    font-family: 'Poppins';
    color: #ffffff;
}

/*+++++++++++header++++++++++++*/

#header {
    padding: 5px 49px 100px 49px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 65px;
    height: 70px;
}

.ul {
    margin: 25px 0 0 0;
    font-size: 18px;
    
}

.li {
    display: inline;
    list-style-type: none;
    margin: 10px;
   
}

a {
    text-decoration: none;
    color: white;
}

/* #header a:visited,
#header a:link {
    color: white;
} */

#header a:hover {
    color: #ffb742;
}

#button:active {
    transform: scale(0.94);
}

#button {

    font-weight: 800;
    color: black;
    width: 80px;
    height: 40px;
    left: 1271px;
    top: 23.06px;

    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    border-style: none;
    margin: 15px 5px;
    cursor: pointer;
}

/*+++++++++End header++++++++++*/


/*+++++++++Footer++++++++++*/
#footer {
    display: flex;
    background-color: #1c1c1c;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 20px;
    font-family: "Work Sans";
}

.li-footer {
    display: block;
    color: #7c7c7c;
    font-size: 18px;
    margin: 10px;
}

.color:link,
.color:visited {
    color: #7c7c7c;
}

.color:hover {
    color: white;
}

#footer h3 {
    color: #FFB742;
    padding-bottom: 30px;
    font-size: 28px;
    font-family: 'Poppins';

}

#text {
    font-size: 16px;
    font-family: 'work Sans';
    color: #D4D4D4;

}


#alinear-nombre {
    padding: 30px 0px 0px 20px;
}

.center {
    width: 140px;
    padding-left: 0px;
    color: white;
}

#alinear-link {
    padding: 40px 0px 0px 100px;
}

#footer ul {
    padding-left: 0px;
    margin-top: 20px;
}

#alinear-social {
    padding: 40px 0px 0px 120px;
}

#alinear-hire {
    width: 280px;
    padding: 40px 0px 0px 120px;
}

#footer h4 {
    font-size: 21px;
}

#alinear-hire p {
    color: #7c7c7c;
    margin-top: 18px;
    margin-bottom: 60px;
    line-height: 30px;
}

#box-email {
    height: 30px;
    background-color: #212529;
    color: #7c7c7c;
    border-radius: 30px;
    padding: 15px;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

#form {
    display: flex;
}

.logo-send {
    position: relative;
    right: 45px;
}

/*++++++++End Footer++++++++*/


/*+++++++++Main index++++++++++*/

#main {

    padding: 90px 383px 110px 382px;
    justify-content: center;
    font-family: 'Inter';
    text-align: center;
}

#main img {
    border-radius: 200px;
    margin-top: 80px;
}

#nameyellow {
    color: #ffb742;
    display: inline;
}

#h3 {
    font-size: 24px;
    margin: 30px;
}

/*+++++++++End Main index++++++++++*/


/*+++++++++Boxes index++++++++++*/

#caja-experiencia {
    display: flex;
    margin-bottom: 130px;
    margin-top: 90px;
    padding: 0px 72px 0px 72px;
    justify-content: space-around;
}

.cajaMediana {
    width: 416px;
    height: 120px;
    margin: 0px 24px 0px 24px;
    background-color: #292b2c;
    justify-content: space-between;
    font-family: 'Inter';
    border-radius: 10px;
}

.numeros {
    color: #ffb742;
    font-size: 32px;
}

.alinearTexto {
    display: flex;

}

span {
    display: block;
    text-align: center;
}

.espacioNumero {
    margin: 25px 52px;
    display: block;
    text-align: center;

}

.icono {
    width: 64px;
    height: 64px;
    padding: 28px 30px;
}

.size {
    font-size: 16px;
}

/*+++++++++End Boxes index++++++++++*/



/*+++++++++Main Experience+++++++++*/
#section {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;
}

.box2 {
    text-align: center;

}

#exp h4 {
    color: #FFB742;
    background-color:  #7b7b7b37;
    font-size: 20px;
    border-radius: 50px;
    width: 150px;
    padding: 8px 0px 8px 0px;
    margin-bottom: 20px;
}

#exp {
    display: flex;
    justify-content: center;

}

.h2 {
    margin-bottom: 45px;
    font-family: 'Roboto';
    font-size: 25px;

}


#box {

    display: flex;
    justify-content: center;
}

.small-box {
    width: 315px;
    height: 330px;
    border-radius: 8px;
    background-color: white;
    color: black;
    margin: 10px;
}

.flex-smallbox {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 13px;
}

.texto {
    margin: 13px 0px 0px 13px;
}

.texto h3 {
    margin-bottom: 10px;
    line-height: 34px;
}

.descripcion {
    margin: 20px 13px 20px 13px;
}

/*+++++++++End Main Experience+++++++++*/


/*++++++++++++Main About++++++++++*/
#container {
    display: flex;
}

#sub-container {
    padding: 110px 10px 70px 30px;
}

#image {
    padding: 0px 30px 40px 30px;
}

#container h4 {
    color: #ffb742;
    padding: 10px 15px;
    font-size: 20px;
}

#container h1 {
    font-family: 'roboto';
    font-size: 48px;
    padding-bottom: 30px;
}

#container p {
    font-size: 16px;
    padding-bottom: 60px;
}

#container button {
    font-weight: 800;
    color: black;
    width: 80px;
    height: 40px;
    left: 1271px;
    top: 23.06px;

    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    border-style: none;
    margin: 15px 5px;
    cursor: pointer;
}

/*++++++++++++End Main About++++++++++*/


/*+++++++++++Main Contact++++++++++++*/

#contact {
    display: flex;
    justify-content: center;
}

#main h4 {
    width: 150px;
    height: 40px;
    color: #FFB742;
    background: #7b7b7b37;
    font-family: 'Poppins';
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoSmile {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

#cajonChiste {
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
}

#chiste {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-family: 'Poppins';
    padding: 10px;
    word-wrap: break-word;
}

#respuesta {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-family: 'Poppins';
    padding: 10px;
    word-wrap: break-word;
}

#oneMore {
    font-weight: 800;
    color: black;
    width: 80px;
    height: 40px;
    left: 1271px;
    top: 23.06px;

    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    border-style: none;
    margin: 0 auto;
    cursor: pointer;

}

.botonChiste {
    display: flex;
    justify-content: center;
    margin-top: -20px;

}

#casillas {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;

    margin-top: 80px;
}

#name {
    width: 510px;
    height: 80px;
    background-color: #212529;
    color: white;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #676767;
    outline: none;

}

#email {
    width: 510px;
    height: 80px;
    background-color: #212529;
    color: white;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #676767;
    outline: none;
}

#phone {
    width: 510px;
    height: 80px;
    background-color: #212529;
    color: white;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #676767;
    outline: none;
}

#casillas ::placeholder {
    color: #ffffff;
}

#button-send {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 160px;
    position: relative;
    right: 220px;

}

.botonSend {
    font-weight: 800;
    color: black;
    width: 80px;
    height: 40px;
    left: 1271px;
    top: 23.06px;

    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    border-style: none;
    margin: 15px 5px;
    cursor:pointer;
    
}

/*+++++++++++End Main Contact++++++++++++*/



/*++++ Light Mode+++++*/

.change-mode-body {
    background-color: white;
    font-family: 'Poppins';
    color: black;
}

.change-mode-size {
    font-size: 16px;
    color: white;
}

.change-mode-a {
    text-decoration: none;
    color: black;
}

.change-mode-small-box {
    width: 315px;
    height: 330px;
    border-radius: 8px;
    background-color:#212529;
    color: white;
    margin: 10px;
}